* {
  padding: 0;
  margin: 0;
  
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  
  box-sizing: border-box;
}



html {
  height: 100vh;
}

body {
  height: 100vh;
}

fieldset {
  border: none;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.form-modal {
  position: absolute;
  background-color: lightblue;
  height: 85vh;
  width: 30vw;
  justify-self: center;
  align-self: center;
  z-index: 1;
  display: grid;
  grid-template: 5% 95% / 1fr
}

.close-modal-button {
  background-color: lightblue;
  font-size: 20px; 
  justify-self: end;
  align-self: center;
  margin: 0 5%;
}

.form-content {
  background-color: white;
  margin: 0 5% 5%;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-section {
  
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr 3fr 1fr;
  position: relative;
}

.container > * {
  
  border: 1px solid black;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
  
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  overflow: scroll;
  gap: 10px;
  position: relative;
}

.book {
  border: 1px solid green;
  width: 50%;
  height: 0%;

  padding-bottom: 50%;
  
  justify-self: center;
}

.no-books-message {
  position: absolute;
  justify-self: center;
  top: 10%;
}